/* This CSS Section contais the slider css syles and the footer css styles. */


.comp {
    align-items: center;
    margin-top: 100px;
    /* gap: 5rem; */
    /* display: flex; */
    /* height: 100px; */
}

.company-container {
    width: 100vw;
    height: 80vh;
    /* height: 500px; */
    /* display: flex;
    justify-content: center; */
    align-items: center;
}

.company-container h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
}

.company-container p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: lighter;
    color: #BFBFBF;
}

.dis-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.dis-image img{
    /* display: flex;
    justify-content: center; */
    align-items: center;
    width: 150px;
    height: 150px;
}

/* Modifying the size of apple only */
.dis-image .apple {
    width: 100px;
    height: 80px;
}

.dis-image .mailchimp {
    width: 200px;
    height: 150px;
    /* margin-right: 10px; */
}

.filter-type {
    font-size: 15px;
}



/* Working on the slider part */

.slider-container {
    background-color: #F8F9FA;
    position: relative;
    padding: 5rem;
    align-items: center;
    overflow: hidden;
}
.slide {
    float: left;
    display: flex;
    justify-content: center;
    font-family: "Monserrat";
    font-style: italic;
    color: #7f848c;
    box-sizing: border-box;
    
}

.slide p {
    font-family: "Monserrat";
    font-size: 35px;
    padding: 30px;
    text-align: center;
    font-weight: lighter;
}

/* .slide img {

} */




/* Working on the footer */
.footer {
    background-color: #555555;
    display: flex;
    justify-content: space-around;
    align-items: left;
    height: 60vh;
    column-gap: 50px;
    text-align: center;
    
    margin: 0;
    padding: 100px 0px 0px 0px;

    
    
    /* margin-top: 50px; */
    /* padding: 150px 0px; */
    /* margin-bottom: 0px; */
    /* text-decoration: none; */
    
}

/* #footer-section {
    margin-top: 50px;
} */

.footer h3 {
    font-size: 18px;
    font-weight: lighter;
    color: white;
    padding-bottom: 20px;
}

.footer a:hover {
    color: rgb(133, 5, 165);
}

/* .footer-text {
    text-decoration: none;
} */

.footer-text a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.footer-logo .footer-icons {
   /* display: flex; */
   width: 30px;
   height: 50px;
   gap: 4rem;
    padding: 5px 5px;
}

.footer .footer-bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
    border-top: 1px solid #444;
    margin-top: 30px;
    /* margin-right: 500px; */
  }
  .footer .footer-bottom p {
    margin: 100px;
    color: #bbb;
  }

  .footer .footer-bottom p:hover{
    color: rgb(133, 5, 165);
  }
  