.attribution,
footer {
  background-color: hsl(260, 8%, 14%);
}
.attribution a {
  color: hsl(180, 66%, 49%);
}
footer {
  padding-left: 20%;
}
footer .nav-link {
  color: #fff !important;
}
footer h1 {
  margin-left: 0%;
}
footer .nav-item a:hover {
  color: hsl(180, 66%, 49%) !important;
}
footer .nav-item img,
.nav-link:hover {
  cursor: pointer;
}
footer .nav-link {
  color: hsl(257, 7%, 63%) !important;
  font-size: 16px;
}
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.mobile-form {
  display: none !important;
}
/* Media queries */
@media only screen and (max-width: 1024px) {
  .navbar,
  .homeSection,
  .urlShortenSection,
  .statisticSection {
    margin-left: 7%;
    margin-right: 7%;
  }
  .homeImg img {
    width: 600px;
    height: 400px;
  }
  .homeDetails h1 {
    font-size: 4rem;
  }
  footer {
    padding-left: 1%;
  }
}
@media only screen and (max-width: 768px) {
  html,
  body {
    width: auto !important;
    overflow-x: hidden !important;
  }
  .navbar-nav {
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
  }
  .desktop-form {
    display: none !important;
  }
  .mobile-form {
    display: flex !important;
    flex-direction: column;
  }
  .mobile-form button {
    color: hsl(257, 7%, 63%);
    padding: 20px 10px;
  }
  .mobile-form button:hover {
    color: #fff !important;
    background-color: hsl(180, 66%, 49%) !important;
  }
  .homeImg img {
    width: 500px;
    height: 300px;
  }
  .homeDetails h1 {
    font-size: 2.5rem;
  }
  .inputLink,
  .linkResult {
    width: 60%;
  }
  .urlShortenBtn,
  .copyLink {
    width: 25%;
  }
}
@media only screen and (max-width: 425px) {
  .homeSection {
    flex-flow: column;
  }
  .homeDetails {
    order: 2;
    margin-top: 3%;
  }
  .homeImg img {
    width: max-content;
    margin-left: 15%;
  }
  .homeDetails p {
    width: 100%;
  }
  .urlShortenSection,
  .statisticSection {
    margin-top: 15%;
  }
  .linkInputDiv,
  .cards,
  .results {
    flex-direction: column;
  }
  .inputLink,
  .linkResult,
  .homeDetails {
    margin-right: 0;
  }
  .inputLink,
  .linkResult {
    margin-bottom: 2%;
  }
  .inputLink,
  .linkResult,
  .urlShortenBtn,
  .copyLink {
    width: 80%;
  }
  .card,
  .homeDetails,
  footer {
    text-align: center;
  }
  .cardImgDiv {
    margin-left: 30%;
  }
  .cards {
    margin-top: 15%;
  }
  .card1,
  .card2,
  .card3 {
    margin-top: 0;
  }
  .line {
    width: 5px;
    height: 80px;
  }
  footer .socials {
    margin-left: 30%;
  }
  .boostSection {
    background-image: url(images/bg-boost-mobile.svg);
  }
  .linkInputDiv {
    background-image: url(images/bg-shorten-mobile.svg);
  }
}
@media only screen and (max-width: 375px) {
  footer .socials {
    margin-left: 28%;
  }
}